:root {
  --color-bg-main: #f5f5f5;
  --color-bg-header: #dedede;
  --color-bg-card: #dedede;

  --color-bg-card-hover: #70D6FF;

  --color-text-main: #111111;
  --color-text-secondary: #333333;

  --color-accent-success: #3adb76;
  --color-accent-error: #ff6b6b;

  --color-warning-yellow: #f7c600;
  --color-warning-black: #111111;

  --vibrant-coral: #FF5F5F;
  --ink-black: #001011;
  --lime-green: #00C51A;
  --frozen-lake: #70D6FF;
  --royal-gold: #FFD670;
  --white: white;
}
