:root {
  --blue: #0900B3;
  --yellow: #FED770;
  --red: #FE5F5F;
  --green: #03C51A;
  --green-learning: #8BEF73;
  --orange-game: #FFAC70;
  --blue-practice: #70B5FF;
  --blue-sign: #70D6FF;
  --gray: #D9D9D9;


  --header-bg: var(--yellow);
  --header-text: var(--blue);
  --header-text-hover: var(--blue-sign);





  --color-bg-main: #f5f5f5;
  --color-bg-header: #dedede;
  --color-bg-card: #dedede;

  --color-bg-card-hover: #70D6FF;

  --color-text-main: #111111;
  --color-text-secondary: #333333;

  --color-accent-success: #3adb76;
  --color-accent-error: #ff6b6b;

  --color-warning-yellow: #f7c600;
  --color-warning-black: #111111;

  --vibrant-coral: #FF5F5F;
  --ink-black: #001011;
  --lime-green: #00C51A;
  --frozen-lake: #70D6FF;
  --royal-gold: #FFD670;
  --white: white;


}
