body {
    margin: 0;
    padding: 0;
}

header {
    height:50px;
    background: var(--header-bg);
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    height: 32px;
}

header a {
    margin-left:80px;
    margin-top:12px;
    margin-bottom:9px;
    color: var(--color-text);
    text-decoration: none;
}

nav a {
    font-weight:bold;
    color: var(--header-text);
    margin-left:0;
    margin-right: 50px;
    text-decoration: none;
    font-size:20px;

    transition:
        transform 0.25s ease,
        color 0.25s ease,
        box-shadow 0.25s ease;
}

nav a:hover {
    color: var(--header-text-hover);
    transform: scale(1.04);
}



/* home page */

.welcome{
    text-align: center;
}

.welcome h2{
    margin-top:5vh;
    font-size:3vh;
    margin-bottom: 4vh;
}

* { box-sizing: border-box; font-family: Inter, system-ui, -apple-system, sans-serif; }

.subtitle {
    font-size: 3vh;
    margin-bottom: 4vh;
}

.cards {
    width:80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24vw, 24vw));
    gap: 4vw;
    justify-items: center;
    justify-content: center;

}

.card {
    width:25vw;
    max-width: 390px;
    text-align: center;
    border-radius: 3vh;
    padding: 24px;
    padding-top: 4vh;
    height: 527px;
    max-height: 527px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

      transition:
        transform 0.25s ease,
        background-color 0.25s ease,
        box-shadow 0.25s ease;
}

.card-learn{
    background: var(--green-learning);
}
.card-practice{
    background: var(--blue-practice);
}
.card-game{
    background: var(--orange-game);
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

@media (max-height: 960px) {
    .cards{
        gap: 4vw;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }
    .card {
        width: 20vw;
        height: 60vh;
    }
}

@media (min-width: 1800px) {
    .cards{
        gap: 6vw;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    }
}

.card h3 {
    margin: 0;
    font-size: 2.3vh;
}

.card p {
    font-size: 2.3vh;
    color: var(--color-text);
}

.card-image {
  height: 70%;
  flex-grow: 1;
  display: flex;
}

.card-image img {
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}





/* learn page */

.subtitle-practice {
    font-size: 3vh;
    margin-bottom: 3.2vh;
    margin-top:4vh;
}

.instruction-practice {
    font-weight:bold;
    font-size: 3vh;
    margin-bottom: 3.2vh;
    margin-top: 0px;
}

.practice-zone {
    width: 88vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 25vw 65vw;
    row-gap: 2vh;
    column-gap: 32px;
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.letter-card {
    width:25vw;
    max-width: 390px;
    text-align: center;
    background: var(--blue-sign);
    border-radius: 1.5vh;
    padding: 30px;
    height: 527px;
    max-height: 527px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.letter-card h3 {
    margin: 0;
    font-size: 2.3vh;
}

.card-image {
  flex-grow: 1;
  display: flex;
}

.card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 14px;
}

.user-gesture-card{
    width:100%;
    text-align: center;
    background: var(--blue-practice);
    border-radius: 1.5vh;
    padding-top: 30px;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 527px;
    max-height: 527px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.user-gesture-card.state-correct {
    background-color: var(--gesture-card-state-correct);
}

.user-gesture-card.state-wrong {
    background-color: var(--gesture-card-state-wrong);
}

.user-gesture-card.state-neutral {
    background-color: var(--gesture-card-state-neutral);
}

.user-gesture-card h3 {
    margin-top: 0;
    font-size: 2.3vh;
}

.user-gesture-header h3 {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 2.3vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.user-gesture-header {
    width:100%;
    display: flex;
    align-items: flex-start;
    position:relative;
}

@media (max-height: 960px) {
    .practice-zone{
        row-gap: 0.5vh;
        grid-template-columns: 20vw 43vw;

    }
    .letter-card {
        width: 20vw;
        height: 58vh;
    }
    .user-gesture-card {
        width: 42.8vw;
        height: 58vh;
    }
}

.btn{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 2vh;
    padding-left: 2vh;
    border-width: 0;
    border-radius: 1vh;
    font-size:3vh;
    background-color: var(--btn-active);
    font-weight:bold;
    color: var(--white);
}

.btn:disabled{
    background-color: var(--btn-disabled);
}

.btn:not(:disabled):hover{
    background-color: var(--frozen-lake);
}

.rounder-btn{
    border-radius: 1.5vh;
    background-color: var(--white);
    font-weight:normal;
    color: var(--ink-black);
}

.rounder-btn:hover{
    background-color: var(--frozen-lake);
}

.camera-on-btn{
    margin-bottom: 3vh;
}

.camera-on-btn{
    margin-bottom: 3vh;
}

.camera-on-btn-learn{
    margin-bottom: 4vh;
}

.result-text{
    font-size: 2.3vh;
    justify-self: start;
    visibility: hidden;
}

.bottom-buttons{
    padding-top:40px;
    text-align: center;
}

.camera-zone {
    width: 100%;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 16px;
}

.camera-rectangle {
    width: 100%;
    height: 95%;

    object-fit: cover;
    border-radius: 16px;
}

.check-btn{
    margin-top:-1vh;
    font-size: 2.3vh;
    display:block;
    margin-left: auto;
    visibility: hidden;
}

.practice-letter{
    font-size:150px;
    align-self: center;
}

@media (max-height: 960px) {
    .bottom-buttons {
        padding-top:10px;
    }
}

#letterImg{
    display: none;
}