<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}USL Game{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='colors.css') }}">
</head>

<body>
<header>
    <a href="/"><img src="static/images/logo.svg" class="logo"/></a>
    <nav>
        <a href="/">Головна</a>
        <a href="/learn">Навчання</a>
        <a href="/practice">Практика</a>
        <a href="/game">Міні-гра</a>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>