<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Frog Catch Game</title>
<link rel="stylesheet" href="static/style.css">
</head>

<body>

<h1>🐸 Catch the Fly</h1>

<div class="game-area">

    <img id="frog" src="https://cdn-icons-png.flaticon.com/512/616/616430.png">

    <img id="fly" src="https://cdn-icons-png.flaticon.com/512/616/616408.png">

</div>

<button id="catchBtn">Catch Fly!</button>

<p id="result"></p>

<script src="static/game-page.js"></script>

</body>
</html>