{% extends "base.html" %}

{% block title %}Game mode | USL Game{% endblock %}

{% block content %}
<div class="welcome">
    <div class="subtitle-practice">Режим Гри<br>Покажіть необхідний жест, щоб нагодувати жабку</div>
    <div class="instruction-game">Покажіть жест для літери «К»</div>
</div>

<div class="game-zone">
    <div id="game-area" class="game-area">
        <div class="flies-eaten-text">Мух зʼїдено: 0</div>
        <img id="frog" src="static/images/frog/1.png">
        <div class="lives-bar">
            <img id="food1" class="food full" src="static/images/food/win.png">
            <img id="food2" class="food full" src="static/images/food/win.png">
            <img id="food3" class="food full" src="static/images/food/win.png">
            <img id="food4" class="food full" src="static/images/food/win.png">
            <img id="food5" class="food full" src="static/images/food/win.png">
        </div>
        <img id="fly" src="static/images/fly/А.png">

    </div>

    <div class="user-gesture-card state-neutral" id="userGestureCardG">
        <div>
            <h3>Твій жест</h3>
        </div>
        <div class="camera-zone" id="cameraZoneG">
            <button class="camera-on-btn camera-on-btn-learn btn rounder-btn" id="cameraButtonG">включити камеру
            </button>
        </div>
    </div>
</div>

<div id="gameModal" class="modal">

    <div class="modal-content">

        <h2 id="modalText"></h2>
        <img id="modalFrog" class="modal-frog" src="static/images/frog/1.png">

        <div id="foodBar2" class="food-bar2">
            <img class="food2" src="static/images/food/win.png">
            <img class="food2" src="static/images/food/win.png">
            <img class="food2" src="static/images/food/win.png">
            <img class="food2" src="static/images/food/win.png">
            <img class="food2" src="static/images/food/win.png">
        </div>

        <button class="btn" id="modalButton" onclick="restartGame()">Play again</button>

    </div>

</div>

<script src="static/game-page.js" defer></script>


{% endblock %}