{% extends "base.html" %}

{% block title %}Home | USL Game{% endblock %}

{% block content %}
<div class="welcome">
    <h2>Ласкаво просимо до Usign!<br> Місце, де можна вивчити українську жестову мову онлайн</h2>

    <div class="subtitle">Як ви хочете навчатися?</div>
</div>

<div class="cards">
    <a href="/learn" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                <h3>🎓 Навчання</h3>
                <p>Повторюй жести, бачачи правильний приклад</p>
            </div>
            <div class="card-image">
                <img src="static/images/learning-banner.png" alt="Навчання"/>
            </div>
        </div>
    </a>

    <a href="/practice" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                <h3>🧠 Практика</h3>
                <p>Згадай жест без підказки</p>
            </div>
            <div class="card-image">
                <img src="static/images/practice-banner.png"/>
            </div>
        </div>
    </a>

    <a href="/game" style="text-decoration: none; color: inherit;">
        <div class="card">
            <div>
                <h3>🎮 Міні-гра</h3>
                <p>Перевір свої знання у форматі гри</p>
            </div>
            <div class="card-image">
                <div class="construction">UNDER CONSTRUCTION</div>
            </div>
        </div>
    </a>
</div>
{% endblock %}