{% extends "base.html" %}

{% block title %}Learn mode | USL Game{% endblock %}

{% block content %}
<div class="welcome">
    <div class="subtitle-practice">Режим Навчання<br>Повторюй жест, який бачиш на екрані</div>
    <div class="instruction-practice">Покажіть жест для літери «К»</div>
</div>

<div class="practice-zone">
    <div class="letter-card">
        <div>
            <h3>Літера / Жест</h3>
        </div>
        <div class="card-image">
            <img src="" alt="Літера/Жест"/>
        </div>
    </div>

    <div class="user-gesture-card state-neutral" id="userGestureCard">
        <div>
            <h3>Твій жест</h3>
        </div>
        <div class="camera-zone" id="cameraZone">
            <button class="camera-on-btn camera-on-btn-learn btn rounder-btn" id="cameraButton">включити камеру</button>
        </div>
    </div>
    <div>
    </div>
    <div class="result-text" id="resultText">
        Руку не знайдено
    </div>
</div>

<div class="bottom-buttons">
    <button class="next-letter-btn btn" id="nextLetterButton" disabled="disabled">Наступна літера</button>
</div>

<script src="static/learn-page.js" defer></script>

{% endblock %}